<!DOCTYPE html>
<html>
<body>
  <h1>ユーザーのログイン</h1>
  <form action="user-confirm-login" action="word-list-display" method="post">
    <table>
      <tr>
        <td>アカウント名</td>
        <td><input type="text" name="account"></td>
      </tr>
      <tr>
          <td>パスワード</td>
          <td><input type="password" name="passwd"></td>
        </tr>
    </table>
    <input type="submit" value="ログイン">
    <a href="user-form" >新規ユーザーの登録</a>
  </form>
  <h2>このサイトの使い方</h2>
  <p>このサイトは単語とその意味を記録できるサイトです</p>
    <li>アカウントを持っている場合はそのままログイン<br>
    お持ちでない場合には「新規ユーザーの登録」より<br>登録をお願いします</li>
  <li>単語が登録されている場合はログインすると表示されます<br>
  登録されていない場合は登録をしてお使いください</li>
  <h2>単語表示画面の例</h2>
  <img src="https://drive.google.com/uc?id=1SZuIV_sqmBytzfMdgh1ElCJnBUSSqpkH">
</body>
</html>
